@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  :root {
    --background: 204 100% 97%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 222 84% 56%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 266 100% 97%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 86%;
    --input: 214 32% 86%;
    --ring: 222 84% 56%;
    --chart-1: 205 90% 65%;
    --chart-2: 262 83% 70%;
    --chart-3: 48 96% 70%;
    --chart-4: 160 84% 39%;
    --chart-5: 340 82% 72%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 16%;
    --foreground: 210 40% 98%;
    --card: 222 47% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 215 84% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 36% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 36% 22%;
    --muted-foreground: 215 20% 72%;
    --accent: 222 36% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 36% 30%;
    --input: 222 36% 30%;
    --ring: 215 84% 62%;
    --chart-1: 205 90% 65%;
    --chart-2: 262 83% 70%;
    --chart-3: 48 96% 70%;
    --chart-4: 160 84% 39%;
    --chart-5: 340 82% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
